/* Estilos generales */
.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin-bottom: 50px;
}


.search-bar {
  margin-bottom: 20px;
}

.movie-row {
  display: flex;
  margin-bottom: 20px;
  overflow-x: auto;
}


/* Estilos para los enlaces */
.home-link {
  color: #e50914;
  /* Rojo Netflix */
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 10px;
  }
  .movie-card {
    width: 180px;
    margin-right: 10px;
  }
}
