.tituloFavs {
  margin-bottom: 20px;
}

.contenedor-peliculas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.galeria {
  display: flex;
  flex-direction: row;
  align-items: center;
}