.info {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex; /* Utilizamos flexbox para que los elementos se extiendan horizontalmente */
    flex-wrap: wrap; /* Permitimos que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
  }
  
  .info .titulo {
    font-size: 28px;
    margin-bottom: 20px;
    width: 100%; /* Hacemos que el título ocupe todo el ancho disponible */
  }
  
  .info .bloque {
    flex: 1; /* Hacemos que cada bloque ocupe el mismo ancho */
    margin-bottom: 20px;
    margin-right: 20px; /* Añadimos margen a la derecha para separar visualmente los bloques */
  }
  
  .info img {
    max-width: 200px;
  }
  
  .info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .loading {
    color: #fff;
  }
  